<!doctype html>
<html>
<head>
    <%- include ('./head/head') %>

</head>
<body>
  <%- include ('./body/nav_bar') %>
  <%- include ('./body/board_title') %>
  <%- include ('./body/post_list') %>
  <%- include ('./body/board_down') %>
</body>
</html>
