<!doctype html>
<html>

<head>
  <%- include ('./head/head') %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketjs.js"></script>
</head>

<body>
  <%- include ('./body/nav_bar') %>
  <%- include ('./body/board_title') %>
  <%- include ('./body/post') %>
  <%- include ('./body/comment') %>
  <%- include ('./body/post_down') %>
</body>
</html>
