<!-- post block-->
<div class="post-block">
  <div class="post-title-block">
    <div class="post-title-titlename">
      <p id="post-titlename"><%=read_post.subject%></p>
    </div>
    <div class="post-title-subdatablock">
      <div class="post-title-authordate">
        <p id="post-author"><%=read_post.author %> | <%=read_post.date%></p>
      </div>
      <div class="post-title-subdata">
        <p id="post-subdata">조회수 <%=read_post.viewcnt%></p>
      </div>
    </div>
  </div>
  <div class="post-contents-block">
    <% for(let i=0;i<read_post.contents.length;i++) {%>
      <p><%=read_post.contents[i]%></p>
    <% } %>
  </div>
</div>
