<!-- post down block -->
<% if(login_data) { %>
<div class="post-down-block">
  <div class="board-down-newpost">
    <button class="board-down-newpostbtn" onclick="location.href='/board/<%=board_title%>/write'">New Post</button>
    <% if(read_post.uid === login_data.uid) {%>
    <button class="post-down-deletebtn" onclick="deletepost('<%=board_title%>',<%=read_post.index%>)">Delete Post</button>
    <button class="post-down-modifybtn" onclick="location.href='/board/<%=board_title%>/modify/<%=read_post.index%>'">Modify</button>
    <%}%>
  </div>
</div>
<% } %>
